<!doctype html>
<html ⚡ lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
	<%- await include("public/meta/content.ejs", { content: content, canonical: canonical }) %>
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<div class="container">
		<h1><%= content.title %></h1>
		<small id="dateStr"><%= new Date(content.last_updated).toLocaleDateString() %></small>
		<%- content.html_str %>
	</div>
	<%- await include("public/partials/footer.ejs") %>
</body>

</html>