<!doctype html>
<html ⚡ lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
	<%- await include("public/meta/opinion.ejs", { opinion: opinion, canonical: canonical }) %>
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<div class="container" itemscope itemtype="http://schema.org/Periodical">
		<h1 itemprop="name"><%= opinion.name %></h1>
        <small id="dateStr" itemprop="datePublished">
			<%= new Date(opinion.date_created).toLocaleDateString() %>
		</small>
        <hr>
		<div id="opinion" itemprop="hasPart" itemscope 
			itemtype="http://schema.org/PublicationVolume" 
			itemid="<%= opinion.name %>">
            <%- opinion.html_with_citations %>
        </div>
	</div>
	<%- await include("public/partials/footer.ejs") %>
</body>

</html>