<!DOCTYPE html>
<html lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
    <style>
        body {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
    </style>
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<main>
        
        <div class="container">
            <h1><%= data.title %></h1>
            <small><i><%- data.last_updated %></i></small>
            <%- data.html_str %>
        </div>
	</main>
	<%- await include("public/partials/footer.ejs") %>
</body>

</html>