<!doctype html>
<html ⚡ lang="en">

<head>
	<%- await include("public/partials/head.ejs") %>
	<title>CourtTracker</title>
	<meta name="description"
		content="The CAFC Court Tracker provides the most recent opinions from select courts in the United States.">
</head>

<body>
	<%- await include("public/partials/nav.ejs") %>
	<div class="container">
		<h1>Court Tracker</h1>
		<h2><%= name %></h2>
		<table id="tracker-table">
			<tr>
				<th>Case Name</th>
				<th>Date Created</th>
				<th>Download</th>
				<th>Study</th>
			</tr>
			<% for (let i=0; i< cases.length; i++) { %>
			<tr>
				<td><%= cases[i].name %></td>
				<td><%= new Date(cases[i].date_created).toLocaleDateString() %></td>
				<td>
					<a href="<%= cases[i].download_url %>" target="_blank" 
						class="btn" style="background-color:var(--color-secondary-lighter);">Download</a>
				</td>
				<td>
					<a href="/opinion/<%= cases[i].opinion_id %>" target="_blank" 
						class="btn" style="background-color:var(--color-primary-lightest);">Study</a>
				</td>
			</tr>
			<% } %>
		</table>


	</div>
	<%- await include("public/partials/footer.ejs") %>
	<%- await include("public/partials/ampTag.ejs") %>
</body>

</html>